*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('us.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    backdrop-filter: blur(15px);
}
h2{
    font-size: 2em;
    color: rgb(225, 225, 225)
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}

.inputbox label{
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
color: white;
font-size: 1em;
pointer-events: none;
}
input:focus ~label,
input:valid ~label{
    top: -10px;
}
.inputbox input{
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;  
  outline: none;
  font-size: 15px;
  padding: 0 35px 0 5px;
  color: white;
  
}
svg{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    top: 2px;
}
.forget{
    margin: -15px 0 15px;
    font-size: -9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label a{
    color: white;
    text-decoration: none;
}
.forget label a{
margin-right: 1px;
}
 .forget label a:hover{
   text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.me{
    position: relative;
    bottom: 5px;
}